<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TGC.Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <TGC.Viewer.Properties.Settings>
      <setting name="ShadersDirectory" serializeAs="String">
        <value>..\..\..\TGC.Examples\Shaders\</value>
      </setting>
      <setting name="MediaDirectory" serializeAs="String">
        <value>Media\</value>
      </setting>
      <setting name="DefaultExampleCategory" serializeAs="String">
        <value>Others</value>
      </setting>
      <setting name="DefaultExampleName" serializeAs="String">
        <value>Logo de TGC</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>TGC Viewer - Técnicas de Gráficos por Computadora - UTN - FRBA</value>
      </setting>
      <setting name="CommonShaders" serializeAs="String">
        <value>TgcViewer\</value>
      </setting>
      <setting name="ModifiersPanel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MediaLink" serializeAs="String">
        <value>https://drive.google.com/open?id=0B8iAMXTVXrJeOGpIbWhUbjJPaE0</value>
      </setting>
    </TGC.Viewer.Properties.Settings>
  </userSettings>
</configuration>